<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="emi" translate="label" sortOrder="10">
            <label>Emi Configuration</label>
        </tab>
        <section id="emi_cofig" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Emi option</label>
            <tab>emi</tab>
            <resource>Simya_Assignment6::emi</resource>
            <group id="emi_options_group" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Emi options</label>
                <field id="emi_options" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add emi Options</label>
                    <frontend_model>Simya\Assignment6\Block\Adminhtml\Form\Field\EmiOptions</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
